.logo {
  width: 71px;
}
.menu-swiggy .navbar-nav .nav-link {
  font-size: 24px;
  color: #000;
}
.nav-item .btn-primary {
  font-size: 18px;
  padding: 6px 10px;
  margin: 5px 0px 0 10px;
}
.product-img {
  width: 100%;
}

/* over */
.menu-swiggy .card {
  border: 0;
  cursor: pointer;
}
.menu-swiggy .card .card-header {
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
  padding: 0;
  margin-bottom: 20px;
  height: 200px;
}
.menu-swiggy .card .card-body {
  padding: 0;
}

/* shming  */
.shimmer-m {
  padding: 20px 20px 41px;
  border: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  contain: content;
}
.shimmer-sub {
  width: 254px;
  position: relative;
}
.shimmer_f {
  background: #eef0f5;
  width: 254px;
  height: 160px;
}
.shimmer_m {
  background: #eef0f5;
  margin-top: 20px;
  width: 134px;
  height: 10px;
}
.shimmer_l {
  background: #eef0f5;
  margin-top: 12px;
  width: 94px;
  height: 10px;
}

/* subpage */

img.sub-page-image {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: scale-down;
  background: #efefef;
}

.sub-page p {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 14px;
}
.sub-page .addbtn {
  width: 145px;
  /* position: absolute; */
  inset: 0px;
  transition: 100ms ease-in-out;
  transform: translateY(0px);
  text-align: center;
  /* top: 105px; */
}
.sub-page-img-add {
  position: relative;
  text-align: center;
}
.addbtn-in {
  /* font-family: Gilroy; */
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(27, 166, 114);
}
.hNNDEj {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(2, 6, 12, 0.15);
  border-radius: 8px;
  width: 105px;
  height: 35px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgba(40, 44, 63, 0.08) 0px 3px 8px;
  top: -21px;
}
.fa-dot-circle-o.red:before {
  color: red;
}
.menu-withpromtedlable .col-sm-3 {
  width: 100%;
}
.menu-withpromtedlable {
  position: relative;
}

label.promoter {
  position: absolute;
  top: 26px;
  box-sizing: border-box;
  background-color: rgb(241, 92, 82);
  background-image: linear-gradient(
    277.71deg,
    rgb(237, 69, 109) 7.8%,
    rgb(243, 111, 69) 83.03%
  );
  border-radius: 4px 8px 8px 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  min-height: 37px;
  z-index: 1;
  color: #fff;
  font-weight: 800;
}
.menu-swiggy a {
  color: #000000;
  text-decoration: none;
}

.col-sm-3.menu-swiggy:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: 0.1s ease-in;
}

.arrow {
  font-size: 28px;
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}
.sub-page .col-sm-6,
.sub-page .col-sm-2,
.sub-page .col-sm-1,
.sub-page .col-sm-7 {
  background: #fbfbfb;
}
.sub-page h5 {
  padding: 10px 5px;
}
.sub-page .col-sm-6 {
  padding-left: 35px;
}
